<div class="jumbotron text-center">
    <h1>About</h1>
    <p class="lead">IBI is a great tool to manage your business ideas. You can jot down your business ideas, view
        other business ideas and possibly find someone who is interested in your business idea</p>
</div>