<div class="jumbotron text-center">

    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Write down your innovation business ideas </p>
    <p class="lead">View other great business ideas</p>
    <a href="/ideas/add" class="btn btn-secondary btn-lg ">Add Business Idea</a>  <span><a href="/ideas" class="btn btn-secondary btn-lg">View Business Ideas</a></span>
    
</div>